/** @format */
.wrapper_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.shortcut_setting {
  margin: 2rem 0;
  font-size: 1.2rem;
  text-transform: capitalize;
  width: min-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  column-gap: 2rem;
}
.shortcut_setting span {
  cursor: pointer;
  width: min-content;
  display: inline-block;
  border: 1px solid #91a7ff;
  border-radius: 10px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: end;
  column-gap: 1rem;
}

.span_active {
  color: #ffff;
  background-color: #91a7ff;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: all 0.3s;
}

.icon {
  font-size: 2rem;
}

/* player_control*/
.player_control {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 1.3rem;
  text-transform: capitalize;
  padding: 0.5rem;
}
.player_control > span {
  margin-left: 0.5rem;
}

.player_control:hover {
  background-color: #a5d8ff;
}

/* Mobile Large Screen 26em*/
@media (max-width: 37em) {
  .wrapper_header {
    margin: 4rem auto;
    justify-content: center;
  }
  .shortcut_setting {
    display: none;
  }
}
