/** @format */

.container {
  margin: 3rem auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  align-items: center;
  justify-items: center;
}

@media (max-width: 48em) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
