/** @format */

.container {
  width: 100%;

  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  column-gap: 2rem;
  row-gap: 3rem;
  align-items: center;
  justify-items: center;
}

/*Tablet Screen size */
@media (max-width: 48em) {
  .container {
    width: 100vw;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }
}

/*Mobile Large Screen Size 27em - original break point  46em is where my ui breaks down*/
@media (max-width: 47em) {
  .container {
    grid-template-columns: 1fr;
    padding: 2rem;
  }
}
