/** @format */

.container {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1.5rem;
  width: 100%;
  position: relative;
  /* margin: 2rem auto; */
}

.dropdown_placeholder {
  border: 1px solid rebeccapurple;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  /* display: grid;
  grid-template-columns: 1fr 7rem;
  align-items: center;
  justify-items: center; */
}

.dropdown_item_container {
  background-color: #ffffff;
  cursor: pointer;
  font-size: 1.3rem;
  text-transform: capitalize;
  border: 1px solid #adb5bd;
  width: 90%;
  height: fit-content;
  overflow: auto;
  position: absolute;
  margin: 1.5rem;
  padding: 1rem;
  top: 3.7rem;
  left: 0;
  z-index: 2;
}

.dropdown_item {
  border-bottom: 1px solid #868e96;
  padding: 1rem;
}
.item_hover:hover {
  background-color: #f1f3f5;
}
.dropdown_item_active {
  background-color: #1c7ed6;
}

/* Handle */
.dropdown_item::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1.5rem;
}
