/** @format */

.container {
  width: 30rem;
  height: 100%;
  margin: 2rem;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-items: flex-end;
}

.container_center {
  text-align: center;
}

.icon {
  font-size: 2.2rem;
}

.container > h2 {
  margin-top: 1rem;
  text-transform: capitalize;
  font-size: var(--title_sm);
  font-weight: 550;
}
.container > p {
  margin-top: 1.5rem;
  font-size: var(--para_sm);
  font-weight: 400;
}
.container > p::first-letter {
  text-transform: capitalize;
}
