/** @format */

.nav_container_item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.nav_link {
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid gray;
  text-align: left;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.menu_icon {
  font-size: 1.5rem;
}
