/** @format */

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-transform: capitalize;
  font-size: 1.6rem;
  padding: 1rem;
  /* position: relative; */
  transition: all 0.5s ease;
  position: -webkit-sticky; /*Safari browser*/
  position: sticky;
  top: 0;
  background-color: #fffffe;
  z-index: 19;
  transition: all 0.4s;
  height: 6rem;
  margin: auto 0.5rem;
}

.down {
  top: -8rem;
}

.container > div {
  width: 100%;
  height: 100%;
}

.responsive_bt {
  display: none;
  width: 100%;
  height: 100%;
}

/*nav style*/
.nav_container {
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/1;
  transition: all 0.5s ease;
}

.logo {
  text-align: center;
}

/* setting_icon_container */
.setting_icon_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 2rem;
}
