/** @format */

.hero {
  color: var(--text_color);
  width: 100%;
  margin: 1rem 0.5rem;
  height: 90vh;
  padding: 1rem;
  position: relative;
}

.hero_img {
  -webkit-animation: scale-up-center 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.hero_text {
  width: 65%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.hero_text > h1 {
  margin-top: 5rem;
  line-height: 1.3;
  font-weight: 700;
  font-size: 6rem;
  line-height: 7.2rem;
  text-transform: capitalize;
}

.hero_text > p {
  margin-top: 2rem;
  font-size: 1.8rem;
  text-align: center;
}

.cnt {
  border: 1px solid rebeccapurple;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*
  background-color: gray; */
}

.grid_autofill_container {
  padding: 0;
  width: 95rem;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30rem);
  grid-auto-rows: 1.3rem;
  justify-content: center;
}

.card {
  padding: 0;
  margin: 1.5rem 0.5rem;
  border-radius: 1.6rem;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.card_sm {
  grid-row-end: span 40;
}

.card_md {
  grid-row-end: span 45;
}

.card_l {
  grid-row-end: span 49;
}

.img_placeholder {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 3.6rem;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.descriptionContainer {
  padding-left: 1rem;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

.description_header {
  display: flex;
  align-items: first baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

.descriptionContainer > span {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
}

.descriptionContainer > span > mark {
  padding: 0.3rem;
  background-color: inherit;
  font-weight: 600;
  color: #364fc7;
  border-bottom: 0.2rem solid #e8590c;
}

.chapter_number {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  position: relative;
}

.chapter_number::after {
  content: "";
  display: inline;
  width: 0.5rem;
  height: 0.5rem;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  bottom: 0.6rem;
  right: 0;
  transform: translateX(0.7rem);
}

.title {
  flex: 1;
  margin-left: 1.2rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}
.sub_text {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  overflow: hidden;
}

.click_to_action_container {
  width: fit-content;
  margin-top: var(--margin_sm);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.click_to_action_container > div:nth-child(2) {
  margin-left: 2rem;
}

.scroll_indicator {
  margin-top: var(--margin_sm);
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll_indicator > span {
  margin-left: 1rem;
}

.scroll_indicator > span::first-letter {
  text-transform: capitalize;
}

.button {
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text_color);
  background-color: var(--primary);
  padding: 1.2rem;
  width: fit-content;
  text-align: center;
  border-radius: 0.5rem;
  font-weight: 400;
}

.link {
  text-decoration: none;
  color: inherit;
}

/*Tablet View*/
@media (max-width: 48em) {
  .grid_autofill_container {
    width: 100vw;
  }

  .hero_text {
    width: 100%;
  }
  .hero_text > h1 {
    font-size: 5rem;
  }

  .hero_text > p {
    font-size: 1.4rem;
  }
}
/*Mobile Large*/
@media (max-width: 27em) {
  .hero_text {
    width: 100%;
  }
  .hero_text > h1 {
    font-size: 4rem;
  }

  .hero_text > p {
    font-size: 1.3rem;
  }

  .grid_autofill_container {
    padding: 1rem;
    width: 100vw;
    grid-template-columns: repeat(2, 1fr);
  }

  .card_sm {
    grid-row-end: span 26;
  }

  .card_md {
    grid-row-end: span 30;
  }

  .card_l {
    grid-row-end: span 34;
  }
}

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
