/** @format */

.title {
  font-size: 1.6rem;
  padding-bottom: 1rem;
  font-weight: 500;
}

.text {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 400;
  text-align: justify;
  text-transform: none;
  line-height: 1.5;
  word-spacing: 0.1rem;
}

/* button*/
.button {
  text-transform: capitalize;
  font-size: 1.4rem;
  padding: 1rem;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 3rem auto;
  transition: all 0.5s;
}

.button:hover {
  cursor: pointer;
  background-color: #5c7cfa;
  color: #ffff;
  transition: all 0.5s;
  border: none;
}

.mobile_bottom_pd {
  display: none;
  width: 100%;
  height: 3rem;
  padding: 2rem;
}

/* Table Screen adding the bottom space for clicking the reser button*/
@media (max-width: 48em) {
  .mobile_bottom_pd {
    background-color: rebeccapurple;
    display: block;
    padding: 3rem;
  }
}
