/** @format */

.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #666666;
  opacity: 0.4;
  z-index: 6;
}

.overlay_content_box {
  width: 35rem;
  height: 100%;
  position: absolute;
  top: 0;
  padding-left: 1rem;
  z-index: 7;
  overflow: auto;
  background-color: #ffffff;
}

.pos_right {
  right: 0;
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.pos_left {
  left: 0;
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.overlay_content_box_header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #ffffff;
  font-size: 1.4rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  transition: all 0.5s ease;
}

.overlay_content_box_header > h3 {
  text-transform: capitalize;
}

/* Scroll-Bar Customization */
.overlay_content_box::-webkit-scrollbar {
  width: 0.5rem;
}

.overlay_content_box::-webkit-scrollbar-track {
  background: inherit;
}

.overlay_content_box::-webkit-scrollbar-thumb {
  background: inherit;
}

.overlay_content_box::-webkit-scrollbar-thumb:hover {
  background: inherit;
}

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-45rem);
    transform: translateX(-45rem);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-45rem);
    transform: translateX(-45rem);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(45rem);
    transform: translateX(45rem);
  }
  100% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(45rem);
    transform: translateX(45rem);
  }
  100% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }
}

/* Large Mobile Screen */
@media (max-width: 27em) {
  .overlay_content_box {
    width: 100vw;
  }
  .overlay_cnt {
    width: 100%;
  }
}
