/** @format */

.container {
  background-color: #fffffe;
  padding: 1.5rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  width: 100%;
  font-weight: 600;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  font-size: 1.4rem;
  text-transform: capitalize;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  z-index: 2;
}

.selected_text {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.selected_text > span {
  margin-right: 1rem;
}

/*Mobile Large Screen 27em*/
@media (max-width: 27em) {
  .container {
    font-size: 1.2rem;
  }
}
