/** @format */
.root_container {
  width: 5rem;
  padding: 1rem;
  text-align: center;
  margin: 5rem auto;
  position: relative;
}

.container {
  position: absolute;
  top: 3.7rem;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid gray;
  width: 32rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #f1f3f5;
  z-index: 2;
}

.title {
  font-size: 1.4rem;
  margin: 1rem auto;
}

.font_selector_grid {
  border: 1px solid gray;
  overflow: hidden;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 7rem);
  align-items: center;
  margin-top: 3rem;
}

.font_grid_item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
}

.font_grid_item:nth-child(2) {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.font {
  cursor: pointer;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 600;
}

.font_border {
  width: 100%;
  height: fit-content;
  padding: 1rem;
  position: relative;

  text-align: center;
}

/*font header*/
.font_header {
  font-size: 2.3rem;
}
.font_header::first-letter {
  font-size: 1.8rem;
}
/*sm*/
.font_sm {
  font-size: 1.4rem;
}
.font_sm::first-letter {
  font-size: 1rem;
}
/*md*/
.font_md {
  font-size: 1.8rem;
}
.font_md::first-letter {
  font-size: 1.4rem;
}
/*l*/
.font_l {
  font-size: 2.4rem;
}
.font_l::first-letter {
  font-size: 1.4rem;
}

/* Font Type .*/
.font_type {
  cursor: pointer;
  margin: 2rem auto;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid gray;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 800;
  display: grid;
  grid-template-columns: repeat(2, 10rem);

  align-items: center;
  justify-items: center;
}

.font_type_item {
  height: 100%;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.font_type_item:last-child {
  border-left: 1px solid gray;
}

.item_active {
  background-color: #748ffc;
  color: #f8f9fa;
}
