/** @format */

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Marting check box label*/
.mantine-Checkbox-label {
  font-size: 1.3rem;
  font-weight: 500;
  padding-left: 1rem;
}

/* Select UI slected Value*/
.mantine-Select-input {
  text-transform: capitalize;
  padding: 1rem;
  font-weight: 500;
}
