/** @format */

.container {
  width: 95rem;
  margin: 3rem auto;
}

.back_bt {
  text-transform: capitalize;
  font-size: 1.3rem;
  cursor: pointer;
}

.back_bt:hover {
  font-weight: 500;
  color: blue;
  text-decoration: underline;
}

.header {
  text-transform: capitalize;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

/*Table Screen View*/
@media (max-width: 56em) {
  .container {
    width: 100%;
  }
}
